.formulario-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


  .formulario-container h2 {
    color: #333;
  }
  
  .formulario-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .formulario-container input[type="text"],
  .formulario-container input[type="datetime-local"],
  .formulario-container select,
  .formulario-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .ubicacion-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .ubicacion-input input {
    flex: 1;
    margin-right: 20px;
  }
  
  .gps-button {
    background-color: #ec2a2a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 27px;
    cursor: pointer;
    align-self: center; 
  }
  
  .incidencias-button {
    background-color: rgb(248, 248, 248);
    color: black; /* Cambié el color del texto a negro */
    font-weight: bold;
    width: 150px; /* Ancho del botón */
    height: 150px; /* Alto del botón */
    background-size: contain; /* Ajusta el tamaño de la imagen para que se ajuste dentro del botón */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .incidencias-button:hover {
    transform: translateY(2px);
  }
  
  .incidencias-button img {
    width: 130px; /* Ajusta el ancho de la imagen según tu preferencia */
    height: 130px; /* Ajusta el alto de la imagen según tu preferencia */
}


